{{>layout/header_paging}}
<h1>ex/create</h1>
<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/ex/create" method="post">
			<label for="title">title</label>
			<input type="text" name="title" value="">
			<br>
			<label for="content">content</label>
			<input type="text" name="content" value="">
			<br>
			<div class="form-group">
				<input type="file" name="file">
			</div>
			<label for="answer">answer</label>
			<input type="radio" name="answer" value="1" checked="checked">
			<label for="answer">1</label>
			<input type="radio" name="answer" value="2">
			<label for="answer">2</label>
			<input type="radio" name="answer" value="3">
			<label for="answer">3</label>
			<input type="radio" name="answer" value="4">
			<label for="answer">4</label>
			<input type="radio" name="answer" value="5">
			<label for="answer">5</label>
			<br>
			<input type="hidden" name="lec_num" value="{{ex.lec_num}}" readonly="readonly">

			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}

			<input type="submit" class="btn btn-info" value="submit">
			<input type="reset" class="btn btn-warning" value="reset">
		</form>
	</div>
</div>
{{>layout/footer_paging}}
