{{>layout/header}}
<h1>ex/create</h1>
<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/ex/create" method="post">
			<div class="form-group">
				<input type="file" name="file">
			</div>
			<input type="text" name="title" value="{{ex.title}}">
			<input type="text" name="content" value="{{ex.content}}">
			<input type="text" name="answer" value="{{ex.answer}}">
			<input type="hidden" name="lec_num" value="{{ex.lec_num}}" readonly="readonly">
			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}
			<input type="submit" class="btn btn-info" value="submit">
			<input type="reset" class="btn btn-warning" value="reset">
		</form>
	</div>
</div>
{{>layout/footer}}
