{{>layout/header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>ex/read</h1>
<div class="col-md-12">
	<div class="col-md-4">

		<form id="operForm" method="get">
			<div class="form-group">
				<label>ex_num</label>
				<input type="text" class="form-control" name="num" value="{{ex.num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>title</label>
				<input type="text" class="form-control" name="title" value="{{ex.title}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>content</label>
				<input type="text" class="form-control" name="content" value="{{ex.content}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>answer</label>
				<input type="text" class="form-control" name="answer" value="{{ex.answer}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>lec_num</label>
				<input type="text" class="form-control" name="lec_num" value="{{ex.lec_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>file</label>
				<br>
				<input type="file" name="file" multiple="multiple">
			</div>

			<button class="btn btn-info" data-oper='update'>Update</button>
			<button class="btn btn-info" data-oper='back'>Back</button>

		</form>
	</div>
</div>

<div class="container-fluid">
	<!-- Page Heading -->
	<h1 class="h3 mb-2 text-gray-800">Tables</h1>
	<p class="mb-4">
		DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a
			target="_blank" href="https://datatables.net">official DataTables documentation</a>.
	</p>

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{ex.num}}</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>num</th>
							<th>content</th>
							<th>score</th>
							<th>ex_num</th>
							<th>nickname</th>
							<th>email</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>num</th>
							<th>content</th>
							<th>score</th>
							<th>ex_num</th>
							<th>nickname</th>
							<th>email</th>
						</tr>
					</tfoot>
					<tbody>
						{{#doex}}
						<tr>
							<td><a href="/doex/read?num={{num}}">{{num}}</td>
							</a>
							<td>{{content}}</td>
							<td>{{score}}</td>
							<td>{{ex_num}}</td>
							<td>{{nickname}}</td>
							<td>{{email}}</td>
						</tr>
						{{/doex}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
	$(document).ready(function() {

		var operForm = $("#operForm");
		$("button[data-oper='update']").on("click", function(e) {
			console.log("data-oper='update']");
			operForm.attr("action", "/ex/update").submit();
		});
		$("button[data-oper='back']").on("click", function(e) {
			console.log("data-oper='update']");
			operForm.attr("action", "/lec/read?num={{ex.lec_num}}").submit();
		});
	});
</script>
{{>layout/footer}}
