{{>layout/header}}
<h1>doex/create</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/doex/create" method="post">
			<div class="form-group">
				<input type="file" name="file">
			</div>
			<div class="form-group">
				<label>email</label>
				<input type="text" name="email" value="{{doex.email}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>nickname</label>
				<input type="text" name="nickname" value="{{doex.nickname}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>content</label>
				<input type="text" name="content" value="">
			</div>

			<div class="form-group">
				<label>ex_num</label>
				<input type="text" name="ex_num" value="{{doex.ex_num}}" readonly="readonly">
			</div>

			<input type="hidden" name="score" value="{{doex.score}}">

			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}
			<input type="submit" class="btn btn-info" value="submit">
			<input type="reset" class="btn btn-warning" value="reset">
		</form>
	</div>
</div>
{{>layout/footer}}
