{{>layout/header}}
<h1>notice/create</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/notice/create" method="post">
			<div class="form-group">
				<label>title</label>
				<input type="text" class="form-control" name="title">
			</div>
			<div class="form-group">
				<label>content</label>
				<input type="text" class="form-control" name="content">
			</div>
			
			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}
			<input type="submit" class="btn btn-info" value="등록">
			<input type="reset" class="btn btn-warning" value="reset">
		</form>
	</div>
</div>
{{>layout/footer}}
