<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>create</title>
</head>
<body>
<h1>create</h1>
<form action="/sub/create" method="post">
		<label>price</label>
		<input type="text" name="price">
		<br>
		<label>type</label>
		<input type="text" name="type">
		<br>
		<br>
		<label>sub_num</label>
		<input type="text" name="sub_Num">
		<br>
		{{#_csrf}}
		<input type="hidden" name="{{parameterName}}" value="{{token}}" />
		{{/_csrf}}
		<input type="submit" value="submit">
		<input type="reset" value="reset">
	</form>

</body>
</html>