<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title> sub update</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1>read</h1>
	<form action="" method="get">
		<label>num</label>
		<input type="text" name="num" value="{{sub.num}}" readonly="readonly"> <!-- input 은 끝 태그가 없어서  -->
		<br>
		<label>price</label>
<!-- 		<textarea name="price" >{{sub.price}}</textarea> textarea 는 끝태그가 있어서 태그 사이에 작성 -->
		<input type="number" name="price">
		<br>
		<label>type</label>
		<input type="number" name="type" >
		
		<br>
		{{#_csrf}}
		<input type="hidden" name="{{parameterName}}" value="{{token}}" />
		{{/_csrf}}
	</form>
	<button data-oper='update' id="up">Update</button>
	<form id="operForm" action="/hw/update" method="get">
		<input type="hidden" name="num" value="{{sub.num}}">
		<input type="hidden" name="price" value="{{sub.price}}">
		<input type="hidden" name="type" value="{{sub.type}}">
	</form>
	<script type="text/javascript">
		$(document).ready(function() {

			var operForm = $("#operForm");

			$("button[data-oper='update']").on("click", function(e) {
				console.log("data-oper='update']");
				operForm.attr("action", "/sub/update").submit();
			});

		})
	</script>
</body>
</html>