 {{>layout/header}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">새 클래스 등록</h6>
</div>


<form action="/classes/create" method="post" enctype="multipart/form-data" id="create">
	<label>클래스 명</label>
	<input type="text" name="title">
	<br>

	<div>
		{{#ctgylist}} <span>{{ctgy_title}}</span>
		<input value="{{ctgy_title}}" type="checkbox" name="ctgy_title">
		{{/ctgylist}}
	</div>


	<label>클래스 인트로</label>
	<input type="text" name="intro">
	<br>

	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">썸네일</div>
				<div class="panel-body">
					<div class="form-group uploadDiv">
						<input type='file' name='thumbnail' id='thumbnail' multiple="multiple">
					</div>
					<div class='uploadResult'>
						<ul>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="row">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading">커리큘럼</div>
				<div class="panel-body">
					<div class="form-group uploadDiv">
						<input type='file' class='curriUP' name='curriculum' multiple="multiple">
					</div>
					<div class='uploadResult'>
						<ul>

						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<label for=" ctgy_title">카테고리</label>
	<input type="text" name="ctgy_title">

	{{#_csrf}}
	<input type="hidden" name="{{parameterName}}" value="{{token}}" />
	{{/_csrf}}


	<input type="submit" value="submit">
	<input type="reset" value="reset">


</form>



<script>
	$(document).ready(function() {
		// bind form submit event
		$("#file-upload-form").on("submit", function(e) {

			// cancel the default behavior
			e.preventDefault();

			// use $.ajax() to upload file
			$.ajax({
				url : "/file-upload",
				type : "POST",
				data : new FormData(this),
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function(res) {
					console.log(res);
				},
				error : function(err) {
					console.error(err);
				}
			});
		});
	});
</script>


{{>layout/footer}}
