 {{>layout/header_paging}}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<p>&nbsp;</p>
<div class="container">
	<h1>새 클래스 등록</h1>
	<p>&nbsp;</p>
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<form class="user" action="/classes/create" method="post" enctype="multipart/form-data" id="create">
				<div class="form-group">
					<input type="hidden" value="{{classVO.email}}">
					<label>클래스 명</label>
					<input type="text" name="title" class="form-control form-control-user">
				</div>
				<div class="form-group">
					<label>클래스 인트로</label>
					<input type="text" name="intro" class="form-control form-control-user">
				</div>
				<div class="form-group">
					<label>대표사진</label>
					<input class="btn btn-light" type='file' name='thumbnail' id='thumbnail' multiple="multiple">
					<div class='uploadResult'>
						<ul>

						</ul>
					</div>
				</div>
				<div class="form-group">
					<label>수업과정</label>
					<input class="btn btn-light" type='file' name='thumbnail' id='thumbnail' multiple="multiple">
					<div class='uploadResult'>
						<ul>

						</ul>
					</div>
				</div>
				<div class="form-group">
					<label for=" ctgy_title">카테고리</label>
					<input type="text" name="ctgy_title" class="form-control form-control-user">
				</div>
				<div class="form-group">
					{{#ctgylist}}
					<span>{{ctgy_title}}</span>
					<input value="{{ctgy_title}}" type="checkbox" name="ctgy_title" class="custom-checkbox">
					{{/ctgylist}}
				</div>
				<div class="form-group">
					<input type="submit" value="submit" class="btn btn-primary btn-user btn-block">
					<input type="reset" value="reset" class="btn btn-danger btn-user btn-block">
				</div>
				<div class="form-group">
					{{#_csrf}}
					<input type="hidden" name="{{parameterName}}" value="{{token}}" />
					{{/_csrf}}
				</div>
			</form>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		// bind form submit event
		$("#file-upload-form").on("submit", function(e) {

			// cancel the default behavior
			e.preventDefault();

			// use $.ajax() to upload file
			$.ajax({
				url : "/file-upload",
				type : "POST",
				data : new FormData(this),
				enctype : 'multipart/form-data',
				processData : false,
				contentType : false,
				cache : false,
				success : function(res) {
					console.log(res);
				},
				error : function(err) {
					console.error(err);
				}
			});
		});
	});
</script>


{{>layout/footer_paging}}
