{{>layout/header}}

<style>
.card {
	width: 25%;
	float: left;
	
}
</style>



<h3>Class List</h3>

<div class="outer">

{{#classlist}}
	<div class="card shadow mb-4">
		<!-- Card Header - Dropdown -->
		<div
			class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
			
			<div><img alt="" src="/img/th1.jpg" style="width: 100%"></div>
			<div class="dropdown no-arrow">
				
				
				
			</div>
		</div>
		<!-- Card Body -->
		<div class="card-body" >
		
		<img alt="" src="/img/pr4.png" style="float: left; width: 40px">
		
		<p><strong style="font-size: large;">&nbsp;&nbsp;{{title}}</strong><br>
		<span style="font-size: small;">&nbsp;&nbsp;&nbsp;임포스터 선생님</span></p>

			<a class="dropdown-toggle" href="#" role="button"
				id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
				aria-expanded="false"> <i
				class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
			</a>

			<div
				class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
				aria-labelledby="dropdownMenuLink" style="">
				<div class="dropdown-header">Dropdown Header:</div>
				<a class="dropdown-item" href="#">Action</a> <a
					class="dropdown-item" href="#">Another action</a>
				<div class="dropdown-divider"></div>
				<a class="dropdown-item" href="#">Something else here</a>
			</div>


		</div>
		
		
	</div>
{{/classlist}}




</div>


{{>layout/footer}}
