 {{>layout/header}}

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="card-header py-3">
	<h6 class="m-0 font-weight-bold text-primary">클래스</h6>
</div>


<div class="card-body">
	<form role="form" action="/classes/update" method="post">
		
		
		
		<input type="hidden" name="class_num" value="{{class.num}}">
		<label>클래스 명</label>
		<input type="text" name="title" value="{{class.title}}">
		<br> <label>클래스 내용</label>
		<input type="text" name="intro" value="{{class.intro}}">
		<br>
		<input type="text" name="regdate" value="{{class.regdate}}">
		<input type="text" name="modidate" value="{{class.modidate}}">
		<label>소속 카데고리</label>
		<input type="text" name="ctgy_title" value="{{class.ctgy_title}}">
		<input type="text" name="email" value="{{class.email}}">




		<button type="submit" data-oper='update' class="btn btn-default">Update</button>
		<button type="submit" data-oper='delete' class="btn btn-danger">Delete</button>
		<button type="submit" data-oper='list' class="btn btn-info">List</button>

		{{#_csrf}}
		<input type="hidden" name="{{parameterName}}" value="{{token}}" />
		{{/_csrf}}
		
		

	</form>
</div>



<script type="text/javascript">
	$(document).ready(function() {

		var formObj = $("form");

		$('button').on("click", function(e) {
			e.preventDefault();

			var operation = $(this).data("oper");

			console.log(operation);

			if (operation === 'delete') {
				formObj.attr("action", "/classes/delete");
			} else if (operation === 'list') {
				formObj.attr("action", "/classes/list").attr("method", "get");
			} else if (operation === 'update') {
				formObj.attr("action", "/classes/update");

			}
			formObj.submit();
		});

	});
</script>
{{>layout/footer}}
