{{>layout/header_paging}}
<h1>dohw/create</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/dohw/create" method="post">
			<div class="form-group">
				<input type="file" name="file">
			</div>
			<input type="text" name="email" value="{{dohw.email}}" readonly="readonly">
			<input type="text" name="hw_num" value="{{dohw.hw_num}}" readonly="readonly">
			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}
			<input type="submit" class="btn btn-info" value="submit">
			<input type="reset" class="btn btn-warning" value="reset">
		</form>
	</div>
</div>
{{>layout/footer_paging}}
