{{>layout/header}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>read</h1>
<div class="col-md-12">
	<div class="col-md-4">

		<form id="operForm" method="get">
			<div class="form-group">
				<label>dohw_num</label>
				<input type="text" class="form-control" name="dohw_num" value="{{dohw.dohw_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>user_num</label>
				<input type="text" class="form-control" name="hw_num" value="{{dohw.hw_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>hw_num</label>
				<input type="text" class="form-control" name="user_num" value="{{dohw.user_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>dohw_regDate</label>
				<input type="text" class="form-control" name="regDate" value="{{dohw.regDate}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>dohw_modiDate</label>
				<input type="text" class="form-control" name="modiDate" value="{{dohw.modiDate}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>file</label>
				<br>
				<input type="file" name="file" multiple="multiple">
			</div>

			<input type="hidden" name="fileName" value="{{dohw.fileName}}">
			<input type="hidden" name="fileType" value="{{dohw.fileType}}">
			<input type="hidden" name="filePath" value="{{dohw.Path}}">

			<button class="btn btn-info" data-oper='update'>Update</button>

		</form>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {

		var operForm = $("#operForm");
		$("button[data-oper='update']").on("click", function(e) {
			console.log("data-oper='update']");
			operForm.attr("action", "/dohw/update").submit();
		});

	});
</script>
{{>layout/footer}}
