{{>layout/header_paging}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h1>update</h1>
<div class="col-md-12">
	<div class="col-md-4">

		<form id="operForm" method="post">
			<div class="form-group">
				<label>dohw_num</label>
				<input type="text" class="form-control" name="num" value="{{dohw.num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>dohw_regDate</label>
				<input type="text" class="form-control" name="regDate" value="{{dohw.regdate}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>dohw_modiDate</label>
				<input type="text" class="form-control" name="modiDate" value="{{dohw.modidate}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>user_num</label>
				<input type="text" class="form-control" name="hw_num" value="{{dohw.hw_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label>email</label>
				<input type="text" class="form-control" name="email" value="{{dohw.email}}" readonly="readonly">
			</div>

			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}}

			<input type="submit" class="btn btn-info" value="submit">
			<input type="reset" class="btn btn-warning" value="reset">
			<button class="btn btn-danger" data-oper='delete'>delete</button>

		</form>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function() {

		var operForm = $("#operForm");
		$("button[data-oper='delete']").on("click", function(e) {
			operForm.attr("action", "/dohw/delete").submit();
		});

	});
</script>
{{>layout/footer_paging}}
