{{>layout/header}}


<div class="container">
	<h1>Login</h1>
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
	
			<form class="user" role="form" action="/users/login" method="post">
				<div class="form-group">
					<input type="text" name="username" value="" class="form-control form-control-user" placeholder="이메일을 입력해주세요...">
				</div>
				<div class="form-group">
					<input type="password" name="password" class="form-control form-control-user" placeholder="비밀번호를 입력해주세요...">
				</div>
				<div class="form-group">
					<input name="submit" type="submit" value="Login" class="btn btn-primary btn-user btn-block">
				</div>
				<div class="small">
					<a href="/users/userSign">회원가입</a>
				</div>
				{{#_csrf}}
				<input type="hidden" name="{{parameterName}}" value="{{token}}" />
				{{/_csrf}}
			</form>
		
		</div>
	</div>	
</div>


{{>layout/footer}}
