{{>layout/header}}

<h1>렉처 조회</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form role="form" action="/lec/modify" method="get">
			<div class="form-group">
				<label for="lec_num">렉처 번호</label>
				<input type="text" class="form-control" id="lec_num" name="lec_num" value="{{lecture.lec_num}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="title">제목</label>
				<input type="text" class="form-control" id="title" name="title" value="{{lecture.title}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="video">영상 소스</label>
				<input type="text" class="form-control" id="video" name="video" value="{{lecture.video}}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="ingre">내용</label>
				<textarea class="form-control" id="ingre" name="ingre" readonly="readonly">{{lecture.ingre}}</textarea>
			</div>
			<div class="form-group">
				<label for="lorder">순번</label>
				<textarea class="form-control" id="lorder" name="lorder" readonly="readonly">{{lecture.lorder}}</textarea>
			</div>
			{{#_csrf}}
			<input type="hidden" name="{{parameterName}}" value="{{token}}" />
			{{/_csrf}} <a href="/lec/list" role="button" class="btn btn-secondary">돌아가기</a>
			<button type="submit" class="btn btn-default">수정</button>
		</form>

	</div>
</div>

{{>layout/footer}}
