{{>layout/header_paging}}

<!-- Page Heading -->

					<!-- DataTales Example -->
					<div class="card shadow mb-4">
						<div class="card-header py-3">
							<span class="text float-left">강의 목록</span>
							<span class="float-right">
								<a href="/lec/create?class_num={{class_num}}" class="btn btn-primary btn-icon-split btn-sm">
									<span class="icon text-white-50">
										<i class="fas fa-flag"></i>
									</span>
									<span class="text">등록</span>
								</a>
							
							</span>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>order</th>
											<th>title</th>
											<th>clickcnt</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th>order</th>
											<th>title</th>
											<th>clickcnt</th>
										</tr>
									</tfoot>
									{{#list}}
									<tbody>
										<tr>
											<td>{{lorder}}</td>
											<td><a href="/lec/read?num={{num}}">{{title}}</a></td>
											<td>{{clickcnt}}</td>
										</tr>
									</tbody>
									{{/list}}
								</table>
							</div>
						</div>
					</div>

{{>layout/footer_paging}}
