{{>layout/header}}

<h1>렉처 수정</h1>

<div class="col-md-12">
   <div class="col-md-4">
       <form role="form"  method="post">
        	<div class="form-group">
               <label for="num">렉처 번호</label>
               <input type="text" class="form-control" id="num" name="num" value="{{lecture.num}}" readonly="readonly">
           </div>
           <div class="form-group">
               <label for="title">제목</label>
               <input type="text" class="form-control" id="title" name="title" value="{{lecture.title}}">
           </div>
           <div class="form-group">
               <label for="video">영상 소스</label>
               <input type="text" class="form-control" id="video" name="video" value="{{lecture.video}}">
           </div>
           <div class="form-group">
               <label for="ingre">내용</label>
               <textarea class="form-control" id="ingre" name="ingre">{{lecture.ingre}}</textarea>
           </div>
           <div class="form-group">
               <label for="lorder">순번</label>
               <textarea class="form-control" id="lorder" name="lorder">{{lecture.lorder}}</textarea>
           </div>
           {{#_csrf}}
		   <input type="hidden" name="{{parameterName}}" value="{{token}}" />
		   {{/_csrf}}
           <a href="/lec/list" role="button" class="btn btn-secondary">취소</a>
           <button type="submit" formaction="/lec/modify" class="btn btn-primary">수정</button>
           <button type="submit" formaction="/lec/remove" class="btn btn-danger">삭제</button>
       </form>
   </div>
</div>

{{>layout/footer}}