{{>layout/header}}

	<article class="hentry">
	
		<hgroup>
			<h1>{{lecture.title}}</h1>
			<div class="text-gray-500 mb-0">
				<time>{{lecture.regdate}}</time>
			</div>
		</hgroup>
		
		<div>
			<div class="movie">
				<iframe allow="autoplay; encrypted-media" allowfullscreen frameborder="0" 
				height="540" src="http://www.youtube.com/embed/{{lecture.video}}" width="980">
				</iframe>
			</div>
			<p>&nbsp;</p>
			<h2>수업소개</h2>
			<p>{{lecture.ingre}}</p>
			<p>&nbsp;</p>
		</div>
		
	</article>
	
	
	<div id="comment" data-role="collapisble">
		<form id="comment-new-form" method="POST" action="">
			
			<div class="wrapper">
				<div>
					<img class="img-profile rounded-circle" src="/img/undraw_profile.svg">
				</div>
			</div>
		</form>
	</div>
	
	
	<div class="col-md-12">
		<div class="col-md-4">	
			<form role="form" action="/lec/update" method="get">
				<div class="form-group">
					<label for="num">렉처 번호</label>
					<input type="text" class="form-control" id="num" name="num" value="{{lecture.num}}" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="title">제목</label>
					<input type="text" class="form-control" id="title" name="title" value="{{lecture.title}}" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="video">영상 소스</label>
					<input type="text" class="form-control" id="video" name="video" value="{{lecture.video}}" readonly="readonly">
				</div>
				<div class="form-group">
					<label for="ingre">내용</label>
					<textarea class="form-control" id="ingre" name="ingre" readonly="readonly">{{lecture.ingre}}</textarea>
				</div>
				<div class="form-group">
					<label for="lorder">순번</label>
					<textarea class="form-control" id="lorder" name="lorder" readonly="readonly">{{lecture.lorder}}</textarea>
				</div>
				{{#_csrf}}
				<input type="hidden" name="{{parameterName}}" value="{{token}}" />
				{{/_csrf}}
				<a href="/lec/list" role="button" class="btn btn-secondary">돌아가기</a>
				<button type="submit" class="btn btn-default">수정</button>
			</form>
		</div>
	</div>


{{>layout/footer}}

