{{>layout/header}}

	<article class="hentry">
		<hgroup>
			<h1>{{lecture.title}}</h1>
			<div>
				<span class="float-left">
					<time>{{lecture.regdate}}</time>
				</span>
				<span class="text">
					--- count: {{lecture.clickcnt}}
				</span>
				<span class="float-right">
					<a href="/lec/update?num={{lecture.num}}&class_num={{lecture.class_num}}" class="btn btn-secondary btn-icon-split btn-sm">
						<span class="icon text-white-50"><i class="fas fa-flag"></i></span>
						<span class="text">수정하기</span>
					</a>
				</span>
			</div>
		</hgroup>
		
		<hr/>
		
		<div>
			<div class="container">
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{lecture.video}}?rel=0" allowfullscreen></iframe>
				</div>
				<br>
				<div class="row">
					<div class="col">
						<a href="/hw/read?lec_num={{lecture.num}}" class="btn btn-primary btn-icon-split w-100">
							<span class="text">과제</span>
						</a>
					</div>
					<div class="col">
						<a href="/ex/read?num={{lecture.num}}" class="btn btn-success btn-icon-split w-100">
							<span class="text">연습문제</span>
						</a>
					</div>
					<div class="col">
						<a href="#" class="btn btn-warning btn-icon-split w-100">
							<span class="text">별점주기</span>
						</a>
					</div>
				</div>
			</div>
			<p>&nbsp;</p>
			<h3>수업소개</h3>
			<p>{{lecture.ingre}}</p>
			<p>&nbsp;</p>
			<hr/>
		</div>
	</article>
	
	<!-- 댓글 등록 -->
	<div class="container">
		<h3>댓글</h3>
		<form class="row" method="POST" action="#">
			<div class="col-1">
				<img class="img-profile rounded-circle" src="/img/undraw_profile.svg" style="width: 35px">
			</div>
			<div class="col-11">
				<dl>
					<dd>
						<textarea name="content" style="margin: 0px; width: 100%;"></textarea>
					</dd>
				</dl>
				<button type="submit" class="btn btn-primary btn-icon-split float-right">
					<span class="icon text-white-50">
						<i class="fas fa-flag"></i>
					</span>
					<span class="text">
						submit
					</span>				
				</button>
			</div>
		</form>
	</div>
	<!-- 댓글 목록 -->
	<div class="container">
		<div class="box-footer">
			<div class="card mb-8" id="commentList">
				
			</div>
		</div>
	</div>
	
	<script>
		var class_num = 7;
		var lec_num = 2;
		
		function getCommetnList() {
			
			$.getJSON("/comment/all/" + class_num + "/" + lec_num, function(data) {
				
				console.log(data);
				
				var str = "";
				
				$(data).each(function () {
					str += "<div class='card-header'>" + this.nickname + "</div>"
					+ "<div class='card-body row'>"
					+ "<div class='col-sm-8'>" + this.content + "</div>" 
					+ "<div class='col-sm-4'>" + this.modidate + "</div>"
					+ "</div>"
					+ "<p>&nbsp;</p>"
				});
				
				$("#commentList").html(str);
				
			});
		}
		
		getCommetnList();
		
	</script>

{{>layout/footer}}

