{{>layout/header}}

<title>index.html</title>
	<h1>index.html</h1>

	---------------------------------------------
	<h3>로이 작업들</h3>
	<a href="users/admin">admin 페이지</a><br>	
	<a href="users/login"> 로그인</a><br>
	<a href="users/logout"> 로그아웃</a><br>
	<a href="users/update"> 회원수정</a><br>
	---------------------------------------------
	<br>
	<a href="hw/create">hw/create</a>
	<br>
	<form action="hw/read">
		<label>read</label>
		<input type="text" name="hw_Num">
		<input type="submit">
	</form>
	<br>
	<form action="hw/delete" method="post">
		<label>delete</label>
		<input type="text" name="hw_Num">
		<input type="submit">
	</form>
	<a href="pages/blank.html">aaa</a>
	

	<br><br><br>
	<a href="classes/create">classes/create</a><br>
	
	<br>
	<form action="classes/read">
		<label>read</label>
		<input type="text" name="class_num">
		<input type="submit">
	</form>
	<br>
	<a href="classes/list">classes/list</a><br>
	
	
{{>layout/footer}}
