{{>layout/header_paging}}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<p>&nbsp;</p>
<div class="container">
	<h1>{{teacher.name}} 선생님</h1>
	<p>&nbsp;</p>
	<div class="row">
		<div class="col-sm-4" style="height: 350px;">
			<img src="/img/undraw_profile_3.svg">
		</div>
		<div class="col-sm-8">
			<p>&nbsp;</p>
			<h2 class="text-primary">{{teacher.nickname}}</h2>
			<p>{{teacher.intro}}</p>
		</div>
	</div>
	<p>&nbsp;</p>
</div>

<div class="container-fluid">
	<!-- Page Heading -->

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">'{{teacher.nickname}}' 님이 강의중인 클래스</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" style="width: 100%; border-collapse: collapse;">
					<thead>
						<tr>
							<th>분류</th>
							<th>class</th>
							<th>intro</th>
							<th>평균별점</th>
						</tr>
					</thead>
					<tbody>
						{{#class}}
						<tr>
							<td>{{ctgy_title}}</td>
							<td><a href="/classes/read?num={{num}}">{{title}}</a></td>
							<td>{{intro}}</td>
							<td>{{avgscore}}</td>
						</tr>
						{{/class}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<!-- /.container-fluid -->

<script type="text/javascript">
	$(document).ready(function() {

		var operForm = $("#operForm");
		$("button[data-oper='update']").on("click", function(e) {
			operForm.attr("action", "/myPage/update").submit();
		});

	});
</script>


{{>layout/footer_paging}}