<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>update</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h1>read</h1>
	<form action="" method="get">
		<label>title</label>
		<input type="text" name="title" value="{{hw.title}}" readonly="readonly">
		<br>
		<label>content</label>
		<textarea name="content" readonly="readonly">{{hw.content}}</textarea>
		<br>
		<label>file</label>
		<input type="file" name="file" multiple="multiple">
		<br>
		<label>lec_Num</label>
		<input type="text" name="lec_Num" value="{{hw.lec_Num}}" readonly="readonly">
		<br>
		{{#_csrf}}
		<input type="hidden" name="{{parameterName}}" value="{{token}}" />
		{{/_csrf}}
	</form>
	<button data-oper='update' id="up">Update</button>
	<form id="operForm" action="/hw/update" method="get">
		<input type="hidden" name="hw_Num" value="{{hw.hw_Num}}">
		<input type="hidden" name="title" value="{{hw.title}}">
		<input type="hidden" name="content" value="{{hw.content}}">
		<input type="hidden" name="fileName" value="{{hw.fileName}}">
		<input type="hidden" name="fileType" value="{{hw.fileType}}">
		<input type="hidden" name="filePath" value="{{hw.Path}}">
		<input type="hidden" name="lec_Num" value="{{hw.lec_Num}}">
	</form>
	<script type="text/javascript">
		$(document).ready(function() {

			var operForm = $("#operForm");

			$("button[data-oper='update']").on("click", function(e) {
				console.log("data-oper='update']");
				operForm.attr("action", "/hw/update").submit();
			});

		})
	</script>
</body>
</html>