{{>layout/header_paging}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<p>&nbsp;</p>
<div class="container">
	<h1>과제</h1>
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-12 col-md-9">
			<form class="user" id="operForm" method="get">
				<div class="form-group">
					<label>title</label>
					<input type="text" class="form-control" name="title" value="{{hw.title}}" readonly="readonly">
				</div>
				<div class="form-group">
					<label>content</label>
					<textarea name="content" class="form-control" readonly="readonly">{{hw.content}}</textarea>
				</div>
				<div class="form-group">
					<label>file</label>
					<br>
					<input type="file" name="file" multiple="multiple">
				</div>
				<div class="form-group">
					<label>lec_Num</label>
					<input type="text" class="form-control" name="lec_Num" value="{{hw.lec_num}}" readonly="readonly">
				</div>
	
				<button class="btn btn-info" data-oper='update'>Update</button>
				<button class="btn btn-info" data-oper='back'>Back</button>
	
				<input type="hidden" name="num" value="{{hw.num}}">
				<input type="hidden" name="title" value="{{hw.title}}">
				<input type="hidden" name="content" value="{{hw.content}}">
				<input type="hidden" name="lec_num" value="{{hw.lec_num}}">
			</form>
		</div>
	</div>
</div>
<hr>
<div class="container-fluid">

	<!-- DataTales Example -->
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">{{hw.num}}번 과제 제출 게시판</h6>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="dataTable" width="100%" cellspacing="학생 제출 과제">
					<thead>
						<tr>
							<th>dohw_num</th>
							<th>nickname</th>
							<th>regDate</th>
							<th>modiDate</th>
						</tr>
					</thead>
					<tfoot>
						<tr>
							<th>dohw_num</th>
							<th>nickname</th>
							<th>regDate</th>
							<th>modiDate</th>
						</tr>
					</tfoot>
					<tbody>
						{{#dohw}}
						<tr>
							<td><a href="/dohw/read?num={{num}}">{{num}}</td>
							</a>
							<th>{{nickname}}</th>
							<td>{{regdate}}</td>
							<td>{{modidate}}</td>
						</tr>
						{{/dohw}}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- /.container-fluid -->

<script type="text/javascript">
	$(document).ready(function() {

		var operForm = $("#operForm");
		$("button[data-oper='update']").on("click", function(e) {
			console.log("data-oper='update']");
			operForm.attr("action", "/hw/update").submit();
		});
		$("button[data-oper='back']").on("click", function(e) {
			console.log("data-oper='update']");
			operForm.attr("action", "/lec/read?num={{hw.lec_num}}").submit();
		});

	});
</script>
{{>layout/footer_paging}}
