<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rocket.rocket.mapper.LecMapper">
	<select id="getLec" resultType="com.rocket.rocket.domain.LecVO">
		select * from lec
	</select>
</mapper>