<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rocket.rocket.mapper.SecurityMapper">

	<resultMap type="com.rocket.rocket.domain.UsersVO" id="usersMap">
		<id property="email" column="email" />
		<result property="pw" column="pw" />
		<result property="name" column="name" />
		<result property="nickname" column="nickname" />
		<result property="birthday" column="birthday" />
		<result property="phone" column="phone" />
		<result property="agree_e" column="agree_e" />
		<result property="agree_ue" column="agree_ue" />
		<result property="regdate" column="regdate" />
		<result property="deldate" column="deldate" />
		<result property="intro" column="intro" />
		<result property="mbti" column="mbti" />
		<result property="enabled" column="enabled" />
		<collection property="authList" resultMap="roleMap"></collection>
	</resultMap>

	<resultMap type="com.rocket.rocket.domain.UserRoleVO" id="roleMap">
		<result property="email" column="email" />
		<result property="auth_num" column="auth_num" />
	</resultMap>

	<select id="read" resultMap="usersMap">
		select u.email, pw, name, nickname, birthday, phone, agree_e, agree_ue, regdate, deldate, intro, mbti, enabled,
		auth_num from users u left outer join user_role ur on u.email = ur.email where u.email = #{email}
	</select>

</mapper>